/*Reset*/
html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Times New Roman", sans-serif;
  color: #333333;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 24px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: inline-block;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.hide {
  display: none;
}

body {
  background-color: #68abfe;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
}

.table__main {
  text-transform: capitalize;
  font-family: sans-serif;
  width: 100%;
  border-collapse: separate;
  text-align: left;
  border-spacing: 10px;
  background: #ece9e0;
  color: #656665;
  border: 16px solid #ece9e0;
  border-radius: 20px;
}

.table__main caption {
  margin: 50px 0px;
}

.table__main th {
  font-size: 18px;
  padding: 10px;
}

.table__main td {
  padding: 10px;
  background: #f5d7bf;
  position: relative;
}

@media screen and (max-width: 1050px) {
  .table__main td {
    display: block;
    padding-left: 65%;
    border: none;
  }
}

@media screen and (max-width: 1050px) and (max-width: 680px) {
  .table__main td {
    text-align: center;
    padding: 10px;
  }
}

@media screen and (max-width: 1050px) {
  .table__main {
    border-spacing: 10px;
  }
  thead {
    display: none;
  }
  tfoot {
    display: none;
  }
  td::before {
    content: attr(data-label);
    position: absolute;
    left: 10%;
    font-weight: bold;
  }
  td::nth-child(odd) {
    background-color: #ccc;
  }
}

@media screen and (max-width: 680px) {
  thead {
    display: none;
  }
  td::before {
    margin-bottom: 10px;
    position: static;
    display: block;
    background-color: #ccc;
  }
  td::nth-child(odd) {
    background-color: #fff;
  }
}

.add-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}

.add-person label {
  max-width: 200px;
  align-items: center;
  padding: 5px 5px 5px 0px;
}

.add-person label input {
  font-size: 15px;
  margin-top: 10px;
  border-radius: 20px;
  height: 30px;
  padding-left: 50px;
}

.btn__add-person {
  margin: 25px 0px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  font-weight: 700;
  line-height: 15px;
  padding: 0px 15px;
  background-color: #656665;
  color: #68abfe;
  transition: all 0.8s;
}

.btn__add-person:hover {
  transition: all 0.3 ease 0.4;
  background-color: #F5D7BF;
  transition: all 0.8s;
  color: #656665;
  border-radius: 20px;
}

.search__body {
  padding: 35px 0px;
  text-align: center;
}

.search__person {
  text-align: center;
  height: 50px;
  max-width: 200px;
  width: 100%;
  font-size: 20px;
  color: #656665;
  background-color: #7ddbfe;
  border-radius: 15px;
}
